@font-face {
    font-family: Product-Sans;
    src: url(Fonts/Product\ Sans\ Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product-Sans;
}

html, body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    height: 100vh;
    background: orangered;
}

.nav-container {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: linear-gradient(150deg, rgb(255, 166,0), rgb(255, 94,0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.nav-container a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-container img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(255, 166,0), rgb(255, 94,0));
}

.hero h1 {
    font-size: 25vw;
    color: white;
}

#Fanta {
    position: absolute;
    width: 40%;
    z-index: 2;
}
#Laranja-cortada {
    position: absolute;
    width: 15%;
    top: 10%;
    left: 32%;
    z-index: 2;
}

#Laranja {
    position: absolute;
    width: 20%;
    top: 55%;
    right: 30%;
    z-index: 2;
}

#Folha {
    position: absolute;
    width: 17%;
    top: 10%;
    left: 0%;
    transform: rotate(60deg);
}

#Folha2 {
    position: absolute;
    width: 12%;
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
}

#Folha3 {
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}

.hero img{
    width: 50px;
}

/*SEGUNDA SESSÃO*/

.two {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #4d231c;
}

.left-side, .right-side {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.left-side svg {
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(50deg);
}

.right-side h2 {
    color: white;
    font-size: 5vw;
}

.right-side p {
color: white;
font-size: 1vw;
width: 80%;
}

/*TERCEIRA SESSÃO*/

.three {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5vh;
    background: linear-gradient(150deg, rgb(255, 166,0), rgb(255, 94,0));
}

.card {
    position: relative;
    display: flex;
    background: white;
    align-items: center;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 20px;
}

.card h3 {
    margin-top: 40vh;
    font-size: 3vw;
    color: black;
}

.card button {
    border-radius: 50px;
    font-size: 1vw;
    border: none;
    background: linear-gradient(150deg, rgb(255, 166,0), rgb(255, 94,0));
    color: white;
    padding: 1vw 2vw;
}

#cocacola {
    position: absolute;
    top: -15%;
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#pepsi {
    position: absolute;
    width: 85%;
    top: -15%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.lemon {
    position: absolute;
    top: -30%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0%);
}